################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/.vs
/src/.vs
/src/.vs
/src/.vs
/src/IotDataGenerator.Core/obj
/src/IotDataGenerator.Core/bin